/*
* Fill Name: main.html v0.13.3
* Update: 2020.05.26
* Author: developern
*/

/* logo */
.logo {
    color: rgb(159, 185, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 12px;
}

/* article background */
.article-bg1 {
    height: 300px;
    padding: 15px;
    text-align: center;
    background-color: rgb(104, 104, 175);
}
.article-bg2 {
    height: 650px;
    padding: 15px;
    text-align: center;
    background-color: rgb(14, 124, 0);
}
.article-bg3 {
    height: 450px;
    padding: 15px;
    text-align: center;
    background-color: rgb(121, 82, 0);
}
.article-bg4 {
    height: 450px;
    padding: 15px;
    text-align: center;
    background-color: rgb(99, 0, 230);
}
.article-bg5 {
    height: 450px;
    padding: 15px;
    text-align: center;
    background-color: rgb(0, 129, 230);
}
.article-bg6 {
    height: 450px;
    padding: 15px;
    text-align: center;
    background-color: rgb(60, 129, 150);
}
.article-bg7 {
    height: 100px;
    padding: 15px;
    text-align: center;
    background-color: rgb(247, 78, 134);
}

/* box model test */
.box1 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid black;
}
.box2 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px dotted black;
    border-radius: 25px;
}
.box3 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid black;
    box-shadow: 10px 10px 5px 5px black;
}

/* 멀티미디어 연습 */
.img-size1 {
    width: 250px;
    height: 250px;
    margin: 25px;
}
.img-size2 {
    width: 250px;
    height: 100px;
    margin: 25px;
}
.b-radius1 {
    border-radius: 10%;
}
.b-radius2 {
    border-radius: 25%;
}
.b-radius3 {
    border-radius: 50%;
}
.b-radius4 {
    border-radius: 80%;
}

/* 테이블 연습 */
thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}
tbody {
    background-color: #e4f0f5;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
}
td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
}
td {
    text-align: center;
}
caption {
    caption-side: bottom;
}

.ttb {
    width: 600px;
    height: 300px;
}
.th1 {
    background-color: #5019b6;
}
.tb1 {
    background-color: rgb(163, 163, 163);
}
.tf1 {
    background-color: #0015d4;
}

/* 그리드 연습 */
.grid-item {
    background-color: rgb(226, 226, 226);
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.grid-container {
    background-color: rgb(53, 140, 240);
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}
.item1 {
    grid-column: 1 / span 6;
    grid-row: 1;
}
.item2 {
    grid-column: 1 / span 6;
    grid-row: 2;
}
.item10 {
    grid-column: 2;
    grid-row: 4 / span 3;
}
.item11 {
    grid-column: 3;
    grid-row: 4 / span 3;
}
.item12 {
    grid-column: 4;
    grid-row: 4 / span 9;
}
.item14 {
    grid-column: 6;
    grid-row: 4 / span 3;
}
.item16 {
    grid-column: 5;
    grid-row: 5 / span 2;
}
.item19 {
    grid-column: 2;
    grid-row: 7 / span 6;
}
.item21 {
    grid-column: 5;
    grid-row: 7 / span 2;
}
.item24 {
    grid-column: 3;
    grid-row: 8 / span 3;
}
.item25 {
    grid-column: 6;
    grid-row: 8 / span 3;
}
.item27 {
    grid-column: 5;
    grid-row: 9 / span 2;
}
.item30 {
    grid-column: 3;
    grid-row: 11 / span 2;
}
.item31 {
    grid-column: 5;
    grid-row: 11 / span 2;
}
.item32 {
    grid-column: 6;
    grid-row: 11 / span 2;
}

/* header - full screen background */
.full-bg {
    background: url(./img/geometry-1023846_640.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: table;
}
.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.container a:link {
    text-decoration: none;
}
.header-title {
    display: inline-block;
    width: 50%;
    height: 140px;
    font-size: 35px;
    font-weight: bold;
    padding-top: 25px;
    background: rgba(43, 230, 58, 0.8);
    color:#fff;
}
.header-sub-title {
    padding-top: 20px;
    color: rgb(172, 69, 9);
    font-size: 20px;
}

/* 메뉴 제작 */

.setnavbar{
    border:none;
    font-weight:bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    }

/* bootstrap 칸 조정 */

.art-bg1 {
    height: 600px;
    padding: 15px;
    text-align: center;
    background-color: rgb(104, 104, 175);
}
.art-bg2 {
    height: 410px;
    padding: 15px;
    text-align: center;
    background-color: rgb(14, 124, 0);
}
.art-bg3 {
    height: 450px;
    padding: 15px;
    text-align: center;
    background-color: rgb(121, 82, 0);
}
.art-bg4 {
    height: 450px;
    padding: 15px;
    text-align: center;
    background-color: rgb(99, 0, 230);
}
.art-bg5 {
    height: 450px;
    padding: 15px;
    text-align: center;
    background-color: rgb(208, 255, 0);
}
.art-bg6 {
    height: 150px;
    padding: 15px;
    text-align: center;
    background-color: rgb(60, 129, 150);
}
.art-bg7 {
    height: 120px;
    padding: 15px;
    text-align: center;
    background-color: rgb(247, 78, 134);
}
.art-bg8 {
    height: 380px;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 153, 0);
}
.art-bg9 {
    height: 200px;
    padding: 15px;
    text-align: center;
    background-color: rgb(76, 206, 0);
}
.art-bg10 {
    height: 200px;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 180, 242);
}

.width-50 {
    width: 50%;
    margin-left: 25%;
}

.hd_bg {
    height: 600px;
    display: grid;
}

.hd_bg img {
    height: 600px;
}

.Ss-bg {
    position: relative;
}

.FNsi {
    font-size: 24px;
}

/* footer */
footer {
    height: 80px;
    text-align: center;
    background-color: rgb(109, 109, 109);
    padding: 15px;
    color: #fff;
}